@font-face {
  font-family: "Pretendard-Black";
  src: url("./fonts/pretendard/Pretendard-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Black";
}
