.loginInputForm {
  width: 55%;
  margin: 50px auto;

  form {
    display: flex;
    flex-direction: column;
  }
}

.forgotPw {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  color: #848484;

  span {
    font-weight: 700;
    margin-left: 5px;
    text-decoration: underline;
  }
}

.loginBtn {
  background-color: rgba(255, 164, 228, 0.7);
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 20px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
