.orderListWrapper {
  width: 90%;
  margin: 0 auto;

  .orderListFilter {
    width: 90%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #ffa4e4;

    div {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      font-weight: 700;

      p {
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .orderListContent {
    width: 100%;
    display: flex;
    flex-direction: column;

    .orderListBox {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .boxTitle {
        width: 95%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        margin-bottom: 10px;

        span {
          &:nth-child(2) {
            color: #aeaeae;
            cursor: pointer;
          }
        }
      }
      .boxContent {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        div {
          &:nth-child(1) {
            width: 84px;
            height: 84px;
            border: 3px solid rgba(255, 164, 228, 0.5);
            border-radius: 13px;
            margin-right: 10px;
          }

          &:nth-child(2) {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.7;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            span {
              color: #9d9d9d;
            }
          }
        }
      }
    }
  }
}
