.filterListWrapper {
  width: 100%;
  margin-top: 20px;
  min-height: 78vh;
  position: relative;
}

.filterBtn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
  font-size: 12px;

  div {
    margin-right: 10px;
    line-height: 1.7;
  }

  select {
    margin-left: 10px;
  }
}

.itemListWrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.itemListTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.itemListFirstTitle {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;

  img {
    width: 20px;
  }
}

.itemListSecondTitle {
  width: 95%;
  margin: 5px 0 0 0;
  display: flex;
  font-size: 14px;
  font-weight: bold;

  img {
    width: 15px;
    margin-right: 8px;
  }

  span {
    color: #909090;
    font-weight: lighter;
  }
}

.itemListContent {
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
}

.contentImg {
  width: 140px;
  height: 140px;
  border: 3px solid #ffa4e4;
  border-radius: 13px;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9px;
  }
}

.contentInfo {
  width: 60%;
  height: 140px;

  span {
    font-size: 15px;
    font-weight: bold;
  }

  .selectFilter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    font-size: 13px;
    color: #848484;
    margin: 5px 0 0 0;

    div {
      border: 1px solid #c9c9c9;
      padding: 0 10px;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
}

.contentTag {
  width: 100%;
  margin-top: 30px;

  ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 15px;

    li {
      margin-right: 20px;
      font-size: 14px;
      color: #616161;
    }
  }
}

.contentPrice {
  font-size: 15px;
  color: #929292;

  span {
    font-size: 20px;
    font-weight: 700;
    color: black;
  }
}

.addRoutineBtn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #ffa4e4;
  position: sticky;
  bottom: 80px;
  margin-left: 80%;
  font-size: 65px;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }

  span {
    transform: translate(3%, -8%);
  }
}
