.itemWrapper {
  width: 100%;
  margin: 0 auto 15px 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 5fr;
  gap: 0;
  align-items: center;
}

.num {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

.itemImg {
  border: 3px solid #ffa4e4;
  border-radius: 15px;
  width: 74px;
  height: 74px;
}

.itemInfo {
  // background-color: blanchedalmond;
  padding-bottom: 10px;
  margin-left: 20px;
  p {
    margin: 0;
    &:first-child {
      font-weight: bold;
      font-size: 13px;
      color: #9d9d9d;
    }
    &:nth-child(2) {
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: bold;
    }
    &:last-child {
      color: black;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
